html{
  -webkit-app-region: drag;
}
body{
  height: 645px;
  -webkit-app-region: drag;
}
button{
  -webkit-app-region: no-drag;
}
.topbar{
  height: 27px;
  -webkit-app-region: drag;
}
#close{
  position: absolute;
  right: 11px;
  -webkit-app-region: no-drag;
}
#sidebar_menu{
  background-color: #695f6c;
  -webkit-app-region: no-drag;
}
#fileLoader
{
    display:none;
}
#button_test{
  position: absolute;
    top: 60%;
}
#dataDropBox {
    position: absolute;
    width: 160px;
    height: 160px;
    line-height: 10em;
    font-weight: bolder;
    top: 30%;
    left:20;
    font-size: 15px;
    text-align: center;
    color: #a9a9a9;
    border-radius: 7px;
    -webkit-app-region: no-drag;
  }
  #container {
    position: absolute;
      top: 50%;
      left: 300px;
      width: 870px;
      height: 575px;
      -webkit-app-region: no-drag;
  }
  #divider {
    position: absolute;
      left: 100px;
  }
